.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color:  #C5CBE3;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;

  &__link {
    color: #17252A;

    &:hover {
      border-bottom: 1px solid #17252A;
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }
}
